* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Desktop Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}

.menu li a {
  text-decoration: none;
  color: #040404;
  font-size: 18px;
  transition: color 0.3s;
  font-family: "anton", sans-serif;
}

.menu li a:hover {
  color: #060606;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 49px;
  top: 9%;
  transform: translateY(-50%);
  z-index: 1000;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: #090907;
  margin: 5px 0;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 480px;
    height: 450px;
    margin-top: 170px;
  }

  /* temaernes grid */
  .grid_1_1 a img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .grid_1_1 a img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    right: -289px;
    top: 10%;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    font-family: "anton", sans-serif;
  }
  h1 {
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.navn {
  line-height: 1;
  padding: 10px;
}
.logo {
  filter: blur(4px);
  width: 300px;
}

.logotema {
  width: 200px;
  right: 125px;
  position: fixed;
}
.hoved {
  position: fixed;
  top: 280px;
}

h3 {
  top: 200px;
  text-align: center;
  margin: 150px auto;
  padding: 10px;
  max-width: 300px;
}

.ommig {
  font-size: 3rem;
  top: 160px;
  left: 80px;
  position: relative;
}

.ommigimg {
  top: -80px;
  position: relative;
}

.tema2 {
  font-size: 2rem;
  top: 160px;
  left: 180px;
  position: relative;
}
